<div class="p-4 mt-2 mb-6 overflow-hidden rounded-b-lg shadow-none hover:shadow-xl">
  <a class="relative block h-48 overflow-hidden rounded">
    <img class="w-full transition duration-500 transform" src="{{product().image}}" alt="{{product().title}}" title="{{product().description}}">
  </a>

  <div class="mt-4">
    <h4 class="mb-1 text-xs tracking-widest text-gray-500 title-font">
      {{ product().category }}
    </h4>
    <h3 class="text-lg font-medium text-gray-900 title-font">
      {{ product().title | slice:0:33}}
    </h3>
    <div class="flex items-center justify-between mt-3">
      <h2 class="text-black font-bold">{{product().price | currency}}</h2>
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-2 rounded inline-flex items-center">
        <img src="../../../assets/svg/shopping-cart.svg" alt="shopping-cart">
        <span>Add to cart</span>
      </button>
    </div>
  </div>
</div>
