<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full mb-20 text-center">
      <h1 class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">Checkout page</h1>
    </div>
    @if(cartStore.productsCount()) {
    <div class="w-full mx-auto overflow-auto lg:w-2/3">
      <div class="flex justify-end p-2">
        <button (click)="clearAll()"
          class="flex px-8 py-2 text-lg text-white bg-indigo-500 border-0 rounded shadow-md focus:outline-none hover:bg-indigo-400 hover:shadow-xl transition ease-in-out">
          Clear all
        </button>
      </div>
      <table class="w-full text-left whitespace-no-wrap table-auto">
        <thead>
          <tr>
            <th
              class="px-4 py-3 text-sm font-medium tracking-wider text-gray-900 bg-gray-100 rounded-tl rounded-bl title-font">
              Name
            </th>
            <th class="px-4 py-3 text-sm font-medium tracking-wider text-gray-900 bg-gray-100 title-font">Quantity</th>
            <th class="px-4 py-3 text-sm font-medium tracking-wider text-gray-900 bg-gray-100 title-font">Price</th>
            <th class="px-4 py-3 text-sm font-medium tracking-wider text-gray-900 bg-gray-100 title-font"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of cartStore.products(); track $index) {
          <tr>
            <td class="px-4 py-3">{{item.title}}</td>
            <td class="px-4 py-3">{{item.quantity}}</td>
            <td class="px-4 py-3 text-lg text-gray-900">{{item.price | currency}}</td>
            <td>
              <button (click)="removeItem(item.id)"
                class="flex px-2 text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-400 shadow-md hover:shadow-xl">
                X
              </button>
            </td>
          </tr>
          }

        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <hr class="border-gray-900 border-t-1" />
            </td>
          </tr>
          <tr>
            <td colspan="2">Total:</td>
            <td class="px-4 py-3 text-lg not-italic font-bold text-gray-900">
              {{cartStore.totalAmount() | currency}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="flex w-full pl-4 mx-auto mt-4 lg:w-2/3">
      <button (click)="onProceedToPay()"
        class="flex px-6 py-2 ml-auto text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-400 shadow-md hover:shadow-xl transition ease-in-out">
        <svg fill="#FFFFFF" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 946.863 946.863"
          xml:space="preserve">
          <g>
            <g>
              <path d="M109.943,0v660h34h52.823l-17.326,55.529l221.413,231.334h372.321V680.982l-52.939-64.891
			c0.889-1.34,1.711-2.736,2.441-4.205l23.734-47.812l19.551,9.705l70.959-142.944l-67.309-33.412l44.928-90.504l-197.436-98.008V0
			H109.943z M705.174,878.863H429.896L256.301,697.49L268,660h187.541l52.926,59.209l52.297-43.391L548.596,660l-26.158-34
			l-26.156-34l-78.469-101.998l67.542-54.248l5.967,7.314l57.783,70.828l34,41.676l34,41.678l7.129,8.738l80.941,99.215V878.863z
			 M177.943,68h58.822v524h-58.822V68z M735.289,482.637l-118.186-58.667v-26.333l128.672,63.874L735.289,482.637z M549.104,175.156
			v127.868v59.662v27.839v15.803l-21.666-26.559l-10.215-12.521l-21.838-26.768L323.312,478.686L410.486,592H304.765V68h244.338
			V175.156z M631.527,507.357l53.852,26.732l-10.488,21.127l-7.256-3.604L631.527,507.357z M723.395,337.593l-14.215,28.638
			l-92.076-45.707v-35.695L723.395,337.593z" />
            </g>
          </g>
        </svg>
        Pay
      </button>
    </div>
    } @else {
    <div class="flex flex-col w-full mb-20 text-center">
      <h3 class="my-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font">The shopping cart is empty</h3>
    </div>
    }
  </div>
</section>
